@model ClothingShop.Models.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Chỉnh sửa</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IDCus)

                            <div class="form-group">
                                Email
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EmailCus)
                                    @Html.ValidationMessageFor(model => model.EmailCus, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                Mật khẩu
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password)
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                Tên
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CustomerName)
                                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Lưu" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                </table>
                <a href="@Url.Action("Index")" class="btn btn-primary">Trở về</a>
            </div>
        </div>
    </div>

</div>